<%- include('../../../shared/_header.ejs') %>
    <main class="container d-flex justify-content-center h-100">
        <div class="card w-75 m-3">
            <h1 class="p-3"><%= title %></h1>
            <form method="post" class="p-3" enctype="multipart/form-data">
                <div class="form-group m-2">
                    <label for="name">Nombre de la hamburguesa:</label>
                    <input class="form-control" type="text" id="name" name="name" minlength="6" value="<%= burger.name %>" required>
                </div>
                <div class="form-group m-2">
                    <label for="image">Foto de la hamburgruesa:</label>
                    <div class="container p-3">
                        <img src="/images/burgers/<%= burger.image %>" alt="logo" class="logo-image w-75" />
                    </div>
                    <input class="form-control" type="file" id="image" name="image"> 
                </div>
                <div class="form-group m-2">
                    <label for="description">Descripcion de la hamburgruesa:</label>
                    <textarea class="form-control" name="description" id="description" minlength="10"
                        placeholder="Ingresa una description para la hamburguesa" rows="6" required><%= burger.description %></textarea> 
                </div>
                <div class="form-group m-2">
                    <label for="price">Precio: </label>
                    <input class="form-control" type="number" id="price" name="price" min="0"
                        value="<%= burger.price %>" required> 
                </div>
                <input type="hidden" name="restaurantId" id="restaurantId" value="<%= burger.restaurantId %>" />
                <input type="hidden" name="id" id="id" value="<%= burger.id %>" />
                <div class="m-2 d-flex justify-content-between w-100">
                    <button class="btn btn-success" type="submit">
                        Guardar
                    </button>
                    <button class="btn btn-danger" type="button"
                        onclick="window.location.replace('/admin/')">
                        Cancelar
                    </button>
                </div>
            </form>
            <h3 class="text-black">
                <strong>
                    Promedio: <%= averageRating%><i class="text-black" style="font-size: 40px">&#8902</i>
                </strong>
            </h3>
        </div>
    </main>
<%- include('../../../shared/footer.ejs') %>