<%- include('../../../shared/_header.ejs') %>
    <h1 class="p-3"><%= title %></h1>
    <main class="container d-flex justify-content-center h-100">
        <table class="table border-2 border-black rounded m-3">
            <thead>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Detalle</th>
            </thead>
            <tbody>
                <% restaurants.forEach((restaurant) => { %>
                    <tr>
                        <td class="w-25">
                            <% if(restaurant.logo != 'https://placehold.co/600x400') { %>
                                <img class="w-50 logo-image-small" src="/images/restaurants/<%= restaurant.logo %>" alt="logo"/>
                            <% }else{ %>
                                <img class="w-50 logo-image-small" src="<%= restaurant.logo %>" alt="logo"/>
                            <% } %>
                        </td>
                        <td class="align-center">
                            <%= restaurant.name %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/admin/restaurants/edit/<%- restaurant.id %>">Editar</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
<%- include('../../../shared/footer.ejs') %>